#Ignore all plot, log, data and config files
**/data/*
**/conf/*
**/plots/*
**/sum/*
**/log/*

#To enable empty folders to be uploaded
!**/data/.gitkeep
!**/plots/.gitkeep
!**/conf/.gitkeep
!**/log/.gitkeep
!**/sum/.gitkeep

#Ignore 'g2' graphics library
**/g2-0.72/

